@import "tailwindcss";

:root {
  --background: #f9faf8;
  --foreground: #f9faf8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background-color: var(--background);
  --white-color: #ffffff;
  --black-color: #000000;
  --red-color: #c20000;
  --orange-color: #ff3b3b;
  --text-color: #6d6d6d;
  --title-font: "Orbitron", sans-serif;
  --text-font: "Poppins", sans-serif;
}

body {
  background: var(--background-color);
}

h1 {
  font-family: var(--title-font);
  color: var(--black-color);
  font-size: 4rem;
  font-weight: bold;

}

p {
  font-family: var(--text-font);
  color: var(--black-color);
}

button {
  font-family: var(--title-font);
  font-size: 1rem;
  background: var(--red-color);
  color: var(--white-color);
  padding: 1rem 1.563rem 1rem 1.563rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: #ff3b3b;
}
